modules = ["java"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App Server"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android_app_runner"

[[workflows.workflow]]
name = "Android App Server"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd app && ./gradlew appStart"
waitForPort = 5000

[[workflows.workflow]]
name = "android_app_runner"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "java -jar build/libs/tutoringapp.jar"

[deployment]
run = ["sh", "-c", "cd app && ./gradlew appStart"]
